@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:wght@400;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Merriweather', serif;
}
header{
    background-color: rgba(229, 84, 115, 0.10); 
}
p{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    }
button{
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 20px 40px;
    align-items: flex-start;
    gap: 10px;
    color: white;
    border: none;
    font-weight: 700;
    font-family: Lato;
    font-size: 20px;
    cursor: pointer;
}
button:hover{
    background: #a70327;
}
.container{
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .banner-text *{
    margin-bottom: 32px;
    max-width: 530px;
}
.banner .banner-text h1{
    color: #272727;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.banner .banner_image img{
    width: 100%;
    vertical-align: middle;
}
.container{

}
.feature-heading{
    max-width: 445px;
    text-align: center;
    margin:175px auto 45px auto;
}
.feature-heading h2{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 18px; 
}
.section-content{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: end;
}
.section-content .flower .flower-image1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 30px 10px 0px 50px ;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: end;
}
.section-content .flower .flower-image2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 20px 10px 20px 50px ;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: end;
}
.section-content .flower .flower-image3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 30px 10px 0px 50px ;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: end;
}

.section-content .flower p{
    color: #272727;
    text-align: center;
    margin-top: 30px;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px; 
    text-decoration-line: underline;
}

                 /* Second section start */

.second-section{
    max-width: 1920px;
    /* height: 320px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(190, 14, 14, 0.735);
    margin: 120px auto;
    display: flex;
} */
}

.second-section .containerone{
    background: #ba1a3c;
    max-width: 1440px;
    height: 400px;
    margin: 120px auto;
    align-items: center;
    display: flex;

}